In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\Users\rhutc\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Read,Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,81.87784,78.985371
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,NaN,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN,NaN
3,3,Richard Scott,M,12th,Huang High School,67,58,NaN,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN,NaN
5,5,Bryan Miranda,M,9th,Huang High School,94,94,NaN,NaN,NaN
6,6,Sheena Carter,F,11th,Huang High School,82,80,NaN,NaN,NaN
7,7,Nicole Baker,F,12th,Huang High School,96,69,NaN,NaN,NaN
8,8,Michael Roth,M,10th,Huang High School,95,87,NaN,NaN,NaN
9,9,Matthew Greene,M,10th,Huang High School,96,84,NaN,NaN,NaN